@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,900;1,500;1,900&display=swap");

$size: 18px;
$ff-family: "Rubik", sans-serif;

$fw-400: 400;
$fw-500: 500;
$fw-900: 900;

:root {
    --crl-sfb: hsl(231, 69%, 60%);
    --crl-s-red: hsl(0, 94%, 66%);
    --crl-gb: hsl(229, 8%, 60%);
    --crl-vdb: hsl(229, 31%, 21%);
}
