@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,900;1,500;1,900&display=swap");

:root {
    --size: 18px;
    --ff-family: "Rubik", sans-serif;

    --fw-400: 400;
    --fw-500: 500;
    --fw-900: 900;
    --crl-sfb: hsl(231, 69%, 60%);
    --crl-sfb-sh: hsla(231, 69%, 60%, 0.363);
    --crl-s-red: hsl(0, 94%, 66%);
    --crl-gb: hsl(229, 8%, 60%);
    --crl-vdb: hsl(229, 31%, 21%);
    --crl-gry-sh: rgba(164, 164, 164, 0.447);
    --white: white;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul[role="list"],
li,
ol[role="list"] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    /* overflow-x: hidden; */
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: none;
    text-decoration: none;
}

img,
picture,
svg {
    max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.hidden-on-mobile {
    @media (max-width: 767px) {
        display: none;
    }
}
.hidden-on-desktop {
    @media (min-width: 766px) {
        display: none;
    }
}

body {
    font-family: var(ff-family);
}
